{% extends "layout.html" %}

{% block title %}
    {{ page.name }}
{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto bg-white rounded shadow p-6 text-center">
    <img class="rounded shadow-lg mx-auto" src="{{ page.image.url }}" alt="{{ page.name }}" width="300">
    <h2 class="text-2xl font-bold mt-4">{{ page.name }}</h2>

    <p>{{ page.description }}</p>

    <!-- Travel Advice Button -->
    <div class="mt-6">
        <a href="{% url 'travel_advice' page.id %}"
           class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
           View Travel Advice
        </a>
    </div>
   
     <div class="mt-6 text-center">
         <a href="{% url 'all_pages' %}"
           class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
            ⬅ Back
        </a>
    </div>
</div>
{% endblock %}
